<!DOCTYPE html>
<html lang="en" ng-app="StarterApp">
  <head>
    <meta charset="UTF-8" />
    <title>Nav List Detail Angular Material Layout</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body layout="row" ng-controller="AppCtrl">
    <md-sidenav
      layout="column"
      class="md-sidenav-left md-whiteframe-z2 md-navigation-drawer"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
    >
      <md-toolbar class="md-hue-2 md-tall">
        <span flex></span>
        <div layout="row" layout-align="start center">
          <md-icon class="md-avatar" md-svg-icon="avatars:svg-1"></md-icon>
          <span flex></span>
        </div>
        <span flex></span>
        <div class="md-body-2">WebApp</div>
        <div class="md-body-1">webapp@gmail.com</div>
      </md-toolbar>
      <md-list>
        <md-list-item
          class="md-2-line"
          ng-repeat="item in menu"
          role="link"
          ng-click="toggleSidenav('left')"
        >
          <md-icon
            md-svg-icon="{{ item.icon }}"
            aria-label="{{ item.title }}"
          ></md-icon>
          <div class="md-list-item-text">
            <span class="md-body-2">{{ item.title }}</span>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Management</md-subheader>
        <md-list-item
          class="md-2-line"
          ng-repeat="item in admin"
          role="link"
          ng-click="toggleSidenav('left')"
        >
          <md-icon
            md-svg-icon="{{ item.icon }}"
            aria-label="{{ item.title }}"
          ></md-icon>
          <div class="md-list-item-text">
            <span class="md-body-2">{{ item.title }}</span>
          </div>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content layout="column" class="relative" layout-fill role="main">
      <!-- <md-button
        class="md-fab md-fab-bottom-right"
        aria-label="Add"
        ng-click="showAdd($event)"
      >
        <md-icon md-svg-icon="content:ic_add_24px" aria-label="Plus"></md-icon>
      </md-button> -->

      <md-divider></md-divider>

      <md-content layout="column" layout-fill>
        <md-toolbar class="animate-show md-whiteframe-z1">
          <div class="md-toolbar-tools">
            <md-button
              class="md-icon-button"
              ng-click="toggleSidenav('nav')"
              hide-gt-sm
              aria-label="Menu"
            >
              <md-icon
                md-svg-icon="navigation:ic_arrow_back_24px"
                aria-label="Menu"
              ></md-icon>
            </md-button>
            <span flex></span>
            <md-button
              class="md-icon-button"
              aria-label="Open Settings"
              ng-click="showListBottomSheet($event)"
            >
              <md-icon
                md-svg-icon="navigation:ic_more_vert_24px"
                aria-label="More"
              ></md-icon>
            </md-button>
          </div>
        </md-toolbar>
      </md-content>
    </md-content>
    <!-- Angular Material Dependencies  -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
    <!-- Angular Material -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
